<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145264289720-5no01nqtcp3138pv9n5mvdo74q9jako9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145264289720-5no01nqtcp3138pv9n5mvdo74q9jako9</string>
	<key>API_KEY</key>
	<string>AIzaSyBzD9xLfU-nMtVkxv-RUDn9CVi-sqpz3Do</string>
	<key>GCM_SENDER_ID</key>
	<string>145264289720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qredo.pushtest1</string>
	<key>PROJECT_ID</key>
	<string>push-test-236e0</string>
	<key>STORAGE_BUCKET</key>
	<string>push-test-236e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145264289720:ios:ec8330a2a5af92722f914d</string>
	<key>DATABASE_URL</key>
	<string>https://push-test-236e0.firebaseio.com</string>
</dict>
</plist>